KITESYNC_DATABASE_URL=postgres://kitesync:kitesync@127.0.0.1:5432/kitesync
KITESYNC_HOST=127.0.0.1
KITESYNC_PORT=3000
KITESYNC_PUBLIC_URL=https://localhost:3000
KITESYNC_BOOTSTRAP_TOKEN=replace-with-a-single-use-token
KITESYNC_DEV_USERNAME=admin
KITESYNC_DEV_PASSWORD=kitesync-development
KITESYNC_DEV_DISPLAY_NAME=KiteSync 开发管理员
KITESYNC_COOKIE_SECRET=replace-with-at-least-32-random-characters
KITESYNC_BACKUP_CONTROLLER_TOKEN=replace-with-an-internal-callback-token
KITESYNC_HUB_AGENT_URL=https://localhost:9443
KITESYNC_HUB_AGENT_CA=deploy/compose/certs/ca.crt
KITESYNC_HUB_AGENT_CERT=deploy/compose/certs/control-plane.crt
KITESYNC_HUB_AGENT_KEY=deploy/compose/certs/control-plane.key
KITESYNC_HUB_PUBLIC_ADDRESS=tcp://127.0.0.1:22000
KITESYNC_UPDATE_PUBLIC_KEY_FILE=
KITESYNC_S3_ENDPOINT=http://127.0.0.1:9000
KITESYNC_S3_ACCESS_KEY=kitesync
KITESYNC_S3_SECRET_KEY=kitesync-development
KITESYNC_S3_BUCKET=kitesync
